@using PassleSync.Website.ViewModels;
@inherits Umbraco.Web.Mvc.UmbracoViewPage<PaginationViewModel>

@{
    string LinkUrl(int page)
    {
        var uriBuilder = new UriBuilder(Request.Url.AbsoluteUri);
        var paramValues = HttpUtility.ParseQueryString(uriBuilder.Query);
        paramValues.Set("page", page.ToString());
        uriBuilder.Query = paramValues.ToString();
        return uriBuilder.Uri.ToString();
    }
}

<div class="flex justify-center">
    @if (Model.CurrentPage > 1)
    {
        <a class="prev page-numbers" href="@LinkUrl(Model.CurrentPage - 1)">« Previous</a>
    }

    @for (var i = 1; i <= Model.TotalPages; i++)
    {
        if (i == Model.CurrentPage)
        {
            <span aria-current="page" class="page-numbers current">@i</span>
        }
        else
        {
            <a class="page-numbers" href="@LinkUrl(i)">@i</a>
        }
    }

    @if (Model.CurrentPage < Model.TotalPages)
    {
        <a class="next page-numbers" href="@LinkUrl(Model.CurrentPage + 1)">Next »</a>
    }
</div>
